@import '../../styles/global.scss';

.imageUploader {
  @extend .uk-placeholder, .uk-text-center,;
  margin-bottom: 0;

  &[data-status=invalid] {
    @extend .uk-form-danger;
  }

  background-color: white;

  span:nth-of-type(2) {
    @extend .uk-text-middle;
  }

  div {
    @extend .uk-form-custom;

    span {
      @extend .uk-link;
    }
  }

  progress {
    @extend .uk-progress;
  }
}
