@import '../../styles/global.scss';

.viewArticle {
  @extend .uk-article, content;
  padding-top: 120px;

  h1 {
    @extend .uk-article-title;

    a {
      @extend .uk-link-reset;
    }
  }
  
  & > img {
    padding: 25px 0;
    max-height: 20rem;
    min-width: 100%;
    object-fit: cover;
  }

  & > p {
    &:first-child {
      @extend .uk-text-lead;
    }
  }

  padding-bottom: 0;
}
