$global-small-font-size: 1rem;

$navbar-text-color: rgb(238, 238, 238) !default;
$navbar-text-color-emphasis: white !default;
$navbar-background: #333 !default;

$global-danger-lighten: #ff90a5 !default;
$base-em-color: #666 !default;

@import 'uikit/src/scss/variables-theme.scss';
@import 'uikit/src/scss/mixins-theme.scss';
@import 'uikit/src/scss/uikit-theme.scss';

@import 'uikit/src/scss/uikit.scss';

section {
  @extend .uk-section, .uk-section-muted;

  border-bottom: solid 1px rgba(200, 200, 200, 0.5);
}

section:first-of-type {
  padding-top: 120px;
  padding-bottom: 40px;
}

section:last-of-type {
  border-bottom: none;
  padding-bottom: 6rem;
}

main {
  @extend .uk-background-muted;
  height: fit-content;
  min-height: 82vh;
}

content {
  padding: 2.5rem 30rem;
}

fieldset {
  @extend .uk-fieldset;
}

@media screen and (max-width: 1580px) {
  content {
    padding: 2.5rem 20rem;
  }
}

@media screen and (max-width: 1280px) {
  content {
    padding: 2.5rem 10rem;
  }
}

@media screen and (max-width: 980px) {
  content {
    padding: 2.5rem 5rem;
  }
}

@media screen and (max-width: 780px) {
  content {
    padding: 2.5rem 2.5rem;
  }
}

@media screen and (max-width: 480px) {
  content {
    padding: 2.5rem 1rem;
  }
}

.uk-button-white, .ukButtonWhite {
  @extend .uk-button;

  background-color: $navbar-text-color;
  color: $global-secondary-background;

  &:hover {
    background-color: $navbar-text-color-emphasis;
  }
}

.errorAlert {
  @extend .uk-text-left, .uk-text-danger;
  
  padding: 5px 10px;
}
