@import '../../styles/global.scss';

.searchBar {
  @extend content, section;

  padding-top: 8rem;
  padding-bottom: 4rem;

  form {
    @extend .uk-search, .uk-search-default, [class*='uk-width'];
    
    background-color: white;
    
    span {
      @extend .uk-search-icon;
    }

    input {
     @extend .uk-search-input; 
    }
  }
}
